
:root 
{
    font-size: 14px;
}

body
{
    font-family: 'Raleway', sans-serif; 
}

header
{
    display: flex;
    justify-content:space-between;
    padding: 0 30px;
}

#inscription
{
    position: absolute;
    top: 42px;
    right: 39px;
}

header img
{
    height: 100px;
}

nav 
{
    line-height: 100px;
}

nav a 
{
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
    text-decoration: none;
}

nav :first-child
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

nav :nth-child(2)
{
    color: black;
    margin-right: 119px;
    font-weight: 800;
}


h1
{
 margin-top: 40px;

}

p{
    color: black;
}



h1 + p
{
    margin-bottom: 20px;
}

form
{     
    padding:  0px 30px;
    margin-bottom: 20px;
}


form .find
{ 
    display: flex;  
    border-radius: 10px;
}




.find input
{
 height:40px;
 width: 300px;
 font-weight: 800;
}

.find button
{
     background-color: #0065FC;
     color:white;
     font-weight: 800;
     height: 40px;
     border-radius: 0px 10px 10px 0px;
     border: none;
}

.find i
{
    background-color: gray;
    height: 40px;
    width: 40px; 
    line-height: 40px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    color: black;
}


form .choice
{
    display:flex;
    margin-top: 20px;   
}

.choice p
{
    margin-right: 20px;
    margin-top:30px;
    font-weight: 800;    
}

i
{
 color: #0065FC;
}

.choice button
{
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    padding: 0px  20px 0px 0px;
    background-color: white;
    font-weight: 800;
    border-color: rgb(247, 247,247);
    border-width: 2px;
    text-align: center;
}

.choice button:hover
{
   background-color: #0065FC;
}

#star
{
    color:#F2F2F2;
}

#money
{
 height: 40px;
 line-height: 40px;
 width: 40px;
}


#child
{
 width: 40px;
 height: 40px;
 line-height: 40px;
}

#heart
{
 height: 40px;
 line-height: 40px;
 width: 40px;
}

#dog
{
 height: 40px;
 line-height: 40px;
 width: 40px;
}

#search
{   
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 10px;
    border-radius: 50%;
    display: none;
}

button i
{
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 10px;
    border-radius: 50%;
}

#info
{
 border:1px solid silver;
 border-radius: 50%;
 color: #0065FC;
 margin-right: 5px;
 height:25px;
 line-height: 25px;
 width: 25px;
 text-align:center;
}

a
{
    text-decoration: none;
}

.hebergement img
{
    height: 120px;
    width: 100%;
    object-fit: cover;    
    border-radius: 10px 10px 0px 0px;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 632px;
    background-color: #F2F2F2;
    padding: 30px 14px;
    border-radius: 10px;
}

.hebergement figcaption
{
    margin-left: 10px;
}

.hebergement a
{
margin: 2% 0;
background-color: white;
border-radius: 10px; 
padding: 4px;
width: 30%;
box-shadow: 0 5px 10px silver;
}

#exception1,#exception2
{
 margin: 2% 3.5%;
}


.appart
{
    display: flex;
    flex-wrap:wrap;
    margin-left: 35px;
}

.populaires img
{
    height: 100%;
    width: 134px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    margin-right: 20px;
}

.populaires figcaption p
{
margin-bottom: 40px;
}

.locations
{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.hebergement  a h2
{
  font-size: 16px;
  color: black;
}

.populaires
{
 background-color: #F2F2F2;
 border-radius: 10px;
 width: 32%;
 margin-left: 30px;
 height: 632px;
}
.populaires a
{
    margin:40px;
}

.ensemble
{
 display: flex;
 justify-content: space-between;
 padding: 25px 16px 0 25px;
}

.ensemble i
{
 line-height: 31px;
 color: black;

}

 .populaires figure
{
 display: flex;
 padding: 6px;
 margin: 32px 22px 16px 50px;
 border-radius: 10px;
 background-color: white;
 width: 79%;
 height: 23%;
 text-align: left;
 margin-top: 1px;
 box-shadow: 0 5px 10px silver;
}

.populaires a h2
{
 font-size: 16px;
 color: black;
}

#fleche
{
    margin-right: 29px;
    font-size: 22px;
}


.loisirs
{
    padding: 30px 30px;
    margin: 20px 0 40px 0;
}

.loisirs h2
{
    margin-bottom: 12px;
}

.activites
{
 display: flex;
 justify-content: space-between;
}

#old
{
    width: 314px;
    height: 278px;
    object-fit: cover;
}

#fort
{
    height: 130px;
    width: 314px;
    object-fit: cover;
}

#notredame
{
    height: 100px;
    width: 314px;
    object-fit: cover;
    
}    

 #iles
{
    height: 80px;
    width: 314px;
    object-fit: cover;
}

#longchamp
{
height: 105px;
width: 314px;
object-fit: cover;
}

.activites figure
{
    border-radius: 10px; 
    box-shadow: 0 5px 10px silver;
}

.activites figure h2
{
    font-size: 14px;
    color: black;
    padding: 10px;
}

.activites img
{
    border-radius: 10px 10px 0px 0px;
}

.activites1 
{
    display: flex;
    flex-direction: column;
}

.activites1 figure
{
margin: 30px;
}

.activites2
{
    display: flex;
    flex-direction: column;
}

#pomegues
{
margin-bottom: 25px;
}

#calanques
{   
    width: 314px;
    height: 278px;
}

#garde
{
 margin-bottom: 32px;
    
}

footer 
{
 display: flex;
 background-color: #F2F2F2;
 height: 238px;
}

footer div
{
    width: 20%;
    margin: 62px 30px;
}

li
{
    margin: 10px 0px;   
}

h3
{
    text-align: justify;
}

@media screen and (max-width: 1024px)
{
   
   :root
   {
       font-size: 12px;
   }

    header
    {
        padding: 0 33px;
    }

    #inscription
    {   
        position: absolute;
        top: 23px;
        right: 39px;
    }

    header img
    {
        width: 100px;
        height: 49px;
        margin: 7px 0 0 0;
    }

    nav
    {
        line-height: 50px;
        margin: 10px 0;
    }
    
    nav :first-child
    {
        border-top: none;
        margin-right: 0 35px;
    }

    form
    {
        padding: 0 33px;
    }

    h1
    {
        font-size: 1.7em;
    }

     form .choice
    {
        flex-wrap: wrap;
    }

     .choice button
     {
        margin: 0 9px 9px 0;
     }

     .choice p
     {
         margin:17px 0 10px 4px;
         width: 100%;
     }

     .information
     {
         margin-top: 10px;
     }

    .economy
    {
        width: 145px;
    }

    .choice .family
    {
        width: 117px;
    }

    .romantic
    {
        width: 142px;
    }

    .animal
    {
        width: 176px;
    }

    .locations
    {
        padding: 0;
        flex-direction: column-reverse;
    }
     
    .hebergement
    {
        margin: 22px auto;
        width: 90%;
        height: 700px;
    }

    .hebergement a 
    {
        width: 40%;
        margin: 25px 3px 0 53px;
    }

    .hebergement h2
    {
        margin-left: 57px;
    }

    .hebergement  a h2
    {
        margin: 0;
    }

    .appart
    {
        margin: 0;
    }

    #exception1
    {
        margin:  25px 33px 0 25px;
    }
    
    #exception2
    {
        margin:25px 30px 25px 51px;
    }

    #lamer
    {
        margin-left: 27px;
    }

    #amina
    {
        margin: 25px 3px 0 0;
        height: 168px;
    }

    .hebergement img
    {
        height: 100px;
    }

    .populaires
    {
        width: 90%;
        margin: 22px auto;
    }

    .populaires h2
    {
        margin-left: 95px;
    }

    .populaires a h2
    {
        margin: 0;
    }

    #fleche
    {
        margin-right: 124px;
    }

    .populaires figure
    {
        width: 60%;
        height: 23%;
        margin: 17px 0 0 133px;
    }

    .populaires img
    {
        height: 130px;
    }

    .populaires figcaption p
    {
        margin-bottom: 40px;
    }

    .loisirs
    {
        padding: 25px 20px 25px 36px;  
    }

    .activites img
    {
        height: 100px;
    }

    #fort
    {
        width: 100%;
        height: 130px;
    }

    #notredame
    {
        width: 100%;
        height: 130px;
    }   
   
    #iles
    {
        width: 100%;
        height: 100px;
    }

    #longchamp
    {
        width: 100%;
        height: 100px;
    }

    #old
    {
        height: 313px;
        width: 100%;
    }
    
    #pomegues
    {
        height: 183px;
        margin-bottom: 0;
    }

    #frioul
    {
        height: 156px;
    }

    #calanques
    {
        height: 293px;
        width: 100%;
        object-fit: cover;
    }

    #garde 
    {
        height: 183px;
        margin-bottom: 0;
    }

    #parc
    {
        height: 156px;
        margin-top: 0;
    }

    .activites
    {
        flex-direction: row;
        width: 97%;
    }
    
    .activites a
    {
        margin-right: 16px;
        width: 100%;
    }

    .activites figure 
    {
        width: 100%;
    }

    .activite1 
    {
        margin-right: 25px;
    }

    footer div
    {
        margin: 41px 55px;
    }
}



@media screen and (max-width: 425px)
{

    body 
    {
        margin: 0;
    }

    header
    {
        margin: 0;
        padding: 0;
    }
    
    header img
    {
        margin: 4px 0 0 6px;
    }

    nav
    {
        margin: 14px 0 80px 0;
    }

    nav a 
    {
        margin: 0;
        padding: 0;
    }

    nav :first-child
    {
        position: absolute;
        top: 55px;
        left: 0;
        padding: 0 50px 0 54px;
        border-top: none;
        border-bottom: 2px solid;
    }


    nav :nth-child(2)
    {
        margin: 0;
        padding: 41px 57px 0 134px;
        border-bottom: 2px solid silver;
    }

    form 
    {
        padding: 0 20px;
    }

    .find span
    {
        display: none;
    }

    #search
    {
        display: initial;
        padding: 13px 9px;
        color: white;
        margin: 0;
        background-color: #0065FC;
    }



    .choice
    {
        flex-wrap: wrap;
        margin-bottom: 13px;
    }

    .choice p
    {
        width: auto;
        margin-right: 197px;
        margin-bottom: 5px;
    }

    .choice button 
    {
        margin: 0 12px 5px 0;
    }

    .choice .family
    {
        margin-right: 0px;
    }

    .choice .romantic
    {
        margin-right: 56px;
    }

    .locations
    {
        flex-direction: column-reverse;
        padding:0
    }

    .populaires
    {
        margin-bottom: 21px;
        padding-bottom: 15px;
        width: 100%;
        border-radius: 0;
    }

    .populaires h2
    {
        margin: 0;
    }

    #fleche
    {
        margin: 0;
    }

    .populaires figure
    {
        margin: 0 0 0 28px;
        width: 87%;
        height: 26%;
    }
    
    .populaires img
    {
        height: 100%;
        margin-right: 19px;
    }

    .populaires figcaption h2
    {
        margin: 0;
    }

    .populaires figcaption p
    {
        margin-bottom: 60px;
    }

    .hebergement
    {
        width: 100%;
        background-color: white;
        margin: 20px 0 732px 0;
        align-items: flex-start;
        padding: 0;
    }


    .hebergement a
    {
        width: 100%;
        padding-bottom: 6px;
        margin:25px 25px 0 25px;
    }

    #exception1,#exception2
    {
        margin: 25px 25px 0 25px;
    }

    #amina
    {
        margin: 25px 25px 0 25px;
        height: 202px;
    }

    .hebergement h2
    {
        margin-left: 10px;
    }

    .hebergement img   
      {
        height: 133px;
      }

    .hebergement figcaption h2
      {
        margin-left: 0;
      }

    .loisirs
      {   
        margin-bottom: 0;
        padding:  0;
      }

      .loisirs h2
      {
        margin: 0 0 12px 20px;
      }

    .activites img 
      {
        width: 100%;
      }

    .activites
    {
        flex-direction: column;
        width: auto;
    }

    .activites figure 
    {
        margin: 25px 25px 0 25px;
        height: 186px;
        width: auto;
    }
    
    .activite1
    {
        margin-right: 0;
    }

    #fort
    {
        width: 100%;
        height: 140px;
    }

    #notredame
    {
        width: 100%;
        height: 140px;
    }   
   
    #frioul
    {
        height: 186px;
        margin-top: 0;
    }

    #iles
    {
        width: 100%;
        height: 140px;
    }

    #national
    {
        margin-top: 0;
    }

    #calanques
    {
        height: 140px;
    }

    #garde
    {
        margin-top: 17px;
        height: 186px;
    }

    #parc
    {
        height: 186px;
    }

    #longchamp
    {
        width: 100%;
        height: 140px;
    }

    #old
    {
        height: 140px;
        width: 100%;
    }

    footer 
    {
        flex-direction: column;
        margin-top: 20px;
        height: 543px;
    }

    footer div
    {
        margin: 20px 0 0 30px;
        width: auto;
    }

}























































































































/*
header :nth-child(1)
{ 
color: #0065FC;
margin-right: 60px;
font-size: 0.9em;
}

header :nth-child(2)
{
    margin-right: 60px;
    font-size: 0.9em;
}

header :nth-child(3)
{
    font-size: 0.9em;
    color:#0065FC;
}

nav
{
margin-top:15px;
}
 
i
{
    color: #0065FC;
}
 
.logo
{
    width: 100px;               
}

h1
{
    margin-bottom: 0.1px;   
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.choice
{
display: flex;
flex-direction: row;
margin-top: 20px;
}

.economy
{
 margin:  6px;
padding: 0px 20px 0px 0px;     
border-radius: 30px;
color: black;
background-color: white;
border-color: rgb(247,247,247);
}

#money
{
    background-color:#DEEBFF;   
    border-radius: 60px;
    padding: 10px;
    margin-right:10px;  
}

.family
{
    margin:6px;
    padding:  0px 20px 0px 0px;     
    border-radius: 30px;
    background-color: white;
    border-color: rgb(247,247,247);
    font-style: bold;
}

#child
{
    border-radius: 60px;
    background-color: #DEEBFF;   
    padding: 10px;
    margin-right: 10px;
}

.romantic
{
    margin:6px;
    padding:  0px 20px 0px 0px;     
    border-radius: 30px;
    background-color: white;
    border-color: rgb(247,247,247);
}

#heart
{
    border-radius: 60px;             
    background-color: #DEEBFF;
    padding: 10px;
    margin-right: 10px;
}

.animal
{
    margin:6px;
    padding:  0px 20px 0px 0px;         
    border-radius: 30px;
    background-color: white;
    border-color: rgb(247,247,247);
    margin-right:200px;
}

#dog
{
    border-radius: 60px;
    background-color: #DEEBFF;      
    padding: 10px;
}


#filtre
{
    margin-top: 13px;        
    font-style: bold;
    margin-right: 20px;
}

h1, h2
{
    font-size: 1.5em;  
}


p
{
  font-size: 0.9em;          
}

.find
{
    display: flex;
    border-left: 1px solid black ;
    border-radius: 20px

}

.search
{   border-top-right-radius: 10px;          
    padding: 5px;
    border-color: rgb(247, 247,247);
    color: white;
    background-color: #0065FC;  
}

#icone
{
    color: black;                  
    background-color: rgb(228, 217, 217);
    padding: 12px;
}

#info
{
    border: 1px solid black;
    border-radius: 80px;
    padding:6px 10px 6px 10px;     
    border-color: gray;
    margin-right: 5px;
    color: none;
}

#canebiere
{
    height: 100px;
    width: 200px;
    object-fit: cover; 
}

#port
{
    height: 100px;
    width: 200px;
}

#mouettes
{
    height: 100px;
    width: 200px;
}

#mer
{
    height: 100px;
    width: 200px;
}
#panier
{
    height: 100px;
    width: 200px;
}

#amina
{
    height: 100px;
    width: 200px;
}

.locations
{
    display: flex;
     flex-direction: row;
    width: 60%;
}

#soleil
{
     height: 100px;
    width: 100px;
}

#eau
{
    height: 100px;
    width: 100px;
}

#bleu
{
    height: 100px;
    width: 100px;
}

.locations
{
    display: flex;
     width: 70%;
}

.hebergement
{
     display: flex;
     flex-direction: column;
    background-color: #f2f2f2;

}

.appart1

{
    display:flex;
}

.appart2
{
    display: flex;
}

.populaires
{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #f2f2f2;
}

.canebiere
{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    
}

#old
{
 width: 230px;
 height:270px;
 object-fit: cover;
}

#fort
{
    height: 130px;
    width: 230px;
    object-fit: cover;
}

#calanques
{
width: 230px;
height:270px;
object-fit: cover;   
}

#notredame
{
    height: 100px;
width: 230px;
object-fit: cover;
    
}    

 #iles
{
    height: 80px;
    width: 230px;
    object-fit: cover;
}

#longchamp
{
height: 105px;
width: 230px;
object-fit: cover;
}

.activite
{

    display: flex;
}

.activite1
{
    display: flex;
    flex-direction: column;
}

.activite2
{
    display: flex;
    flex-direction: column;
}

footer
{
    margin-top: 150px;
    display:flex;
    justify-content: space-between;
    width: 70%; 
}

.information
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chartre
{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.assistance
{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

li
{
    margin:20px;
}

ul
{
  list-style-type: none;
}

figcaption,a
{
    color: black;
}